html, body {
  font-family: ArialMT, 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  margin: 14px;
  padding: 35px;
  box-shadow: 0 3px 18px 0 rgba(0,0,0,.11);
  border-radius: 4px;
}

.card img {
  float: left;
  margin-right: 15px;
}

.header {
  display: inline-block;
}

.header h1 {
  font-size: 18px;
  font-weight: normal;
}

.reference {
  font-size: 15px;
  letter-spacing: 0.3px;
}

.verse {
  font-size: 19px;
  font-weight: normal;
}

.tag {
  color: #4A4A4A;
  text-align: center;
}

.tag img {
  height: 20px;
  vertical-align: bottom;
}
